body {
  margin: 0;
  background-color: #EEEEEE;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
}

/*
  Menu Bar
*/
.on-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

#menu-bar {
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: 5%;
  padding: 5px;
  background-color: rgba(32,32,32, 0.9);
  
}

#logo {
  text-transform: capitalize;
  color: #DFDFDF;
  font-weight: bold;
  transition-duration: 2s;
  margin-left: 25px;
  padding-left: 5px;

  border-width: 0px 0px 0px 3px;
  border-color: #DFDFDF;
  border-style: solid
}

#menu-bar nav {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  margin-right: 25px;
}

#menu-bar nav a {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #DFDFDF;

  transition-duration: 0.4s;

}

#menu-bar nav a:hover {
  font-size: 115%;
  background-color: #CFCFCF;
  color: #000000;
}

/*
  Site
*/
.text-light {
  color: #424242;
}

h1 {
  font-size: 200%;
  margin-top: 20%;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

#my-title {
  font-size: 150%;
  padding-bottom: 20%;

  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  
  text-decoration: overline;
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5%;
  margin-bottom: 100px;
  width: 80%;
  margin-left: 10%;
  background-color: #F5F5F8;

  border-width: 1px;
  border-style: solid;
  border-color: #CECECE;

  
}

.shadow {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.content {
  margin: 10% 10% 30px 10%;
}

.content-part {
  margin-top: 50px;
}

.container {
  position: relative;
  width: 20%;
  margin: 0 auto;
  z-index: 0;
}

#my-picture {
  display: block;
  width: 100%;
  height: auto;

  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  border-radius: 50%;
}

.content h2 {
  text-align: center;
}

.content p {
  text-align: justify;
  margin: 0% 10% 0% 10%;
}
.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.project-grid img{
  width: 100%;
  height: 100%;
}

.project {
  width: 100%;
  height: 100%;
}
/*
Social Media Tab styles 
*/
.social-media-tab {
  position: fixed;
  padding: 0;
  margin: 0;

  top: 50%;
  left: 0;

  z-index: 100;
}

.social-media-tab nav {
  padding: 0;
  margin: 0;
}

.social-media-tab ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-media-tab li {
  display: block;
  font-size: 40px;
}

.social-text {
  font-size: 9px;
  text-align: left;
  color: black;
}

.social-icon {
  transition-duration: 1s;
  text-decoration: none;
  padding: 5px;
}

.social-icon:hover {
  padding-left: 50px;
}


.github-icon {
  background-color: #211F1F;
  color: white;
}

.linkedin-icon {
  color: white;
  background-color: #0077B5;
}

.freecodecamp-icon {
  color: white;
  background-color: darkgreen;
  font-size: 33px !important;
  padding: 11px 1px 10px 1px;
}


footer {
  text-align: center;
  font-size: 10px;
}

@media (orientation:portrait) {
  .page-grid {
    margin-top: 15%;
  }
}

@media (orientation:portrait) and (max-width: 600px) {
  .page-grid {
    margin-top: 20%;
  }

  body {
    font-size: 90%;
  }


}

@media (orientation:portrait) and (max-width: 400px) {
  .page-grid {
    margin-top: 25%;
  }
}

@media (orientation:landscape) and (max-width: 1440px) {
  .page-grid {
    margin-top: 8%;
  }
}

@media (orientation:landscape) and (max-width: 900px) {
  .page-grid {
    margin-top: 15%;
  }
}



